services:
  - type: web
    name: strapi
    env: node
    plan: starter
    region: frankfurt
    buildCommand: yarn install && yarn build
    startCommand: yarn start
    healthCheckPath: /_health
    envVars:
      - key: NODE_VERSION
        value: ~16.13.0
      - key: NODE_ENV
        value: production
      - key: CLOUDINARY_NAME
        sync: false
      - key: CLOUDINARY_KEY
        sync: false
      - key: CLOUDINARY_SECRET
        sync: false
      - key: DATABASE_URL
        fromDatabase:
          name: strapi
          property: connectionString
      - key: JWT_SECRET
        generateValue: true
      - key: ADMIN_JWT_SECRET
        generateValue: true
      - key: APP_KEYS
        generateValue: true
  - type: web
    name: holidaze
    env: node
    region: frankfurt
    plan: starter
    repo: https://github.com/Hawkas/torbjorn-haukas-project-exam-2.git
    branch: master
    buildCommand: yarn; yarn build
    startCommand: yarn start
    envVars:
      - key: NODE_VERSION
        value: ~16.13.2
      - key: PORT
        value: 9999
      - key: NODE_ENV
        value: production
      - key: NEXTAUTH_URL
        value: https://holidaze.onrender.com
      - key: NEXTAUTH_SECRET
        generateValue: true
      - key: NEXT_PUBLIC_API_URL
        fromService:
          name: strapi
          type: web
          property: hostport`/api`
      - key: API_PUBLIC_TOKEN
        sync: false
      - key: REVALIDATE_SECRET
        generateValue: true
      - key: FONTAWESOME_NPM_AUTH_TOKEN
        sync: false
databases:
  - name: strapi
    plan: starter
    region: frankfurt
